boto3==1.28.24
botocore==1.31.24
fastapi==0.101.0
moto==4.1.14
numpy==1.25.2
pandas==2.0.3
pydantic==2.1.1
pydantic_core==2.4.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
responses==0.23.3
s3transfer==0.6.1
starlette==0.27.0
types-PyYAML==6.0.12.11
urllib3==1.26.16
uvicorn==0.23.2